In [1]:
import joblib
import pandas as pd

# Load Model

In [2]:
with open('kmeans_model.pkl','rb') as file_1:
    km = joblib.load(file_1)

# Inferencing

In [3]:
data_inf = {
    'ID': '5118173',
    'CODE_GENDER': 'M',
    'FLAG_OWN_CAR': 'N',
    'FLAG_OWN_REALTY': 'N',
    'CNT_CHILDREN': 1,
    'AMT_INCOME_TOTAL': 180000.0,
    'NAME_INCOME_TYPE': 'Commercial associate',
    'NAME_EDUCATION_TYPE': 'Secondary / secondary special',
    'NAME_FAMILY_STATUS': 'Married',
    'NAME_HOUSING_TYPE': 'House / apartment',
    'DAYS_BIRTH': -14401,
    'DAYS_EMPLOYED': -979,
    'FLAG_MOBIL': 1,
    'FLAG_WORK_PHONE': 1,
    'FLAG_PHONE': 1,
    'FLAG_EMAIL': 0,
    'OCCUPATION_TYPE': 'Security staff',
    'CNT_FAM_MEMBERS': 3.0,
    'STATUS': 2,
    'FLAG_EMPLOYED': 1
}
data_inf = pd.DataFrame([data_inf])
data_inf

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS,FLAG_EMPLOYED
0,5118173,M,N,N,1,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-14401,-979,1,1,1,0,Security staff,3.0,2,1

In [4]:
# Clustering

def check_cluster(cluster):
    if cluster == 0:
        return 'still working and still young but have a many responsibilities for their family'
    elif cluster == 1:
        return 'already retired and become pensioner'
    else:
        return 'still working and the responsibilities fall into themselves or with their couples only'
y_pred_inf = km.predict(data_inf)
print('The customer', check_cluster(y_pred_inf[0]))

The customer still working and still young but have a many responsibilities for their family